* {
   box-sizing: border-box;
}

body {
   width: 70%;
   margin: 0 auto;

   color: white;
   background-color: #446C79;

   font-family: 'Raleway', sans-serif;
   font-size: 0.9rem;
   font-weight: 200;
}

header, aside, article {
   margin: 2%;

   border-radius: 10px;
   background-color: #4B7474;
}

/* HEADER AREA */

header {
   position: relative;

   width: 100%;
   margin: 3.5% 0;
   padding: 30px 15px;
}

header::after {
   display: table;
   clear: both;

   content: "";
}

.navbar {
   float: left;
}

header li {
   display: inline-block;

   padding-right: 30px;
}

.navbar :nth-child(4) {
   margin-left: -20px;
}

.messages-num {
   position: relative;
   top: -18px;
   left: 2px;

   padding: 2px 9px 7px 8px;

   border-radius: 100px;
   background-color: #e80054;
}

.login {
   float: right;
}

header img {
   width: 45px;
}

/* LEFT ASIDE AREA */

.side-menu {
   position: relative;

   display: grid;
   float: left;

   width: 31%;
   margin: 0;

   grid-template-columns: 80% 20%;
   grid-template-rows: auto;
}

.side-menu h1 {
   height: 60px;
   width: 100%;
   margin: auto;
   align-items: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: black;

   grid-column: span 2;
}

.side-menu li {
   grid-column: span 1;
}

/* CENTRAL ARTICLE AREA */

article {
   float: left;

   width: 31%;
   margin: 0 3.5%;
}

article img {
   width: 200px;
   background-color: pink;
}

.img-container {
   width: 100%;
   background-color: green;
   margin: 0 auto;
}

/* RIGHT ASIDE AREA */

.newsletter {
   float: right;

   width: 31%;
   margin: 0;
}